*{  margin:0;/*no need of resetting margin and padding for each element*/
  padding:0;
  box-sizing:border-box;
 font-family:Arial, Helvetica, sans-serif
}
.navbar{
 height:60px;
 background-color:#0f1111;
 color:white;
 display: flex;/*they will be in a row*/
justify-content:space-evenly;/*space between each box*/
 align-items: center;/*vertically center aligned*/
}
.nav-log{
    width:100px;
    height:50px;
}
.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    width:100px;
    height:50px;   
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
/*box 2*/
.nav-address{
   width:90px;
  position: static;
   cursor: pointer;
}
   
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}
.add-second{
    font-size: 1rem;
    margin-left: 1px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*box 3*/
.nav-search{
    display: flex;
    width: 800px;
    height:40px;
    border-radius: 4px;
}
.search-category{
    background-color: #f3f3f3;
    color:#555555;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;/*top left corner*/
    border-bottom-left-radius: 4px;/*bottom left corner*/
    padding: 5px;
    font-size: 0.9rem;
    border: 1px solid #dddddd;
}
.search-bar{
   width:100%; 
   font-size: 1rem;
   border:none;
   color: #111;
}
.search-icon{
    background-color: #febd69;
    color:#0f1111;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size:1.3rem;
    cursor: pointer;/*pointer on hover*/
}
.nav-search:hover{
    border: 2px solid #f3a847;
}
.change-language{
    width:50px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
/*box 4*/
.account{
 cursor: pointer;
}
.account-first{
    color:#cccccc;
    font-size: 0.7rem;
}
.account-second{
    font-size: 0.85rem;
    font-weight: bold;
  display: inline-block;/*think can we use flex here*/
}
/*box 5*/
.orders{
 cursor: pointer;
}
.orders-first{
    color:#cccccc;
    font-size: 0.7rem;
}
.orders-second{
    font-size: 0.85rem;
    font-weight: bold;
}
.cart i { /*cart icon*/
    font-size: 30px; 
}
.cart{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.cart-text{
    font-size: 0.85rem;
    font-weight: bold;
    margin-left: 5px;
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.all-departments{
    display: flex;
    font-weight: bold;
    cursor: pointer; 
}
.panel-item p{/*each text in panel*/
   display: inline-block;/*to avoid full width but why not give flex in panel-item class*/
   margin-left: 20px;
}
.panel-item{
    cursor: pointer;
    font-size: 0.9rem;
    width:70%;  
}
.special-offers{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
/*hero-section*/
.hero-section{
    width:100%;
    height:400px;
    background-image: url("hero_image.jpg");
    background-size:cover;
   background-position-y: center;
    background-position-y:0px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.hero-message{
    width:95%;
    height:40px;
   color:#0f1111;
    background-color: #f5f5f6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
}
/*content*/
/*shop*/
.shop{
    display: flex;
    flex-wrap: wrap;/*to move to next line if space is not enough*/
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    width:23%;
    margin:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px;
}
.box-img{
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom:1rem;
    background-position-x:-5px;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-content p{
    font-size: 1rem;
    margin:10px;
    color:#007185;   
}

.box-content h2{
    margin:10px;
    color:#0f1111;   
}
/*footer*/
footer{
    margin-top: 20px;
}
.footer-top{
    background-color: #37475a;
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    height:50px;
    font-size: 0.85em;
    cursor: pointer;
    padding: 30px 0px;
}
.footer-column{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color: #222f3d;
    height:300px;
    padding: 20px 0px;
}
.footer-column h3 {
    margin-bottom: 15px;
    color: #f0f0f0;
}
.footer-column ul a{
   color:#dddddd;
   font-size:0.85rem;
   text-decoration: none;
    display: block;
    margin:10px;
}
.footer-logo{
  background-color: #222f3d;
  border-top:0.5px solid white;
    height:70px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-column ul a:hover{
    text-decoration: underline;
}
.footer-bottom{
    color:#888888;
    font-size: 0.75rem;
    background-color:#0f1111;
    text-decoration: none;
    height:60px;
  
}
.footer-links{
    padding-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links a{
text-decoration:none;
    color:#888888;
    padding: 5px 10px;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-bottom p{
    margin: 5px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
